{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      {% if user.profile.profile_picture.url %}
      <img class="profile_picture" src="{{ user.profile.profile_picture.url }}" style="height: 10vh; width:10vh;"
        alt="{{ profile.name }}">
      {% else %}
      <img class="profile_picture"
        src="https://res.cloudinary.com/dbos9xidr/image/upload/v1626854682/zvtfufhexa8lqqqgcdt3.png"
        style="height: 10vh; width:10vh;" alt="{{ profile.name }}">
      {% endif %}

      <p class="">{{user.username}}</p>
      <p class="">{{user_cards|length}} Cards</p>
      <a href="{% url 'create_card' %}"><button class="btn btn-info btn-sm" id="site" data-toggle="modal" data-target=".bd-example-modal-xl">Create Card</button></a>
    </div>
    <div class="col-md-4">
      <p class="title text-center">{{card.title}}</p>
      <div class="card">
        <div class="row">
          <div class="col-md-6">
            <p>{{card.front_side}}</p>
          </div>
          <div class="col-md-6">
            <p>{{card.back_side}}</p>
          </div>
        </div>
        <p>Created on {{card.created_at|date}}</p>
        {% if card.user.username == current_user.username %}
        <a href="{% url 'delete_card' card.id %}" class="btn btn-danger">Delete</a>
        {% endif %}
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
{% endblock %}