
{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form class="forms" action="{% url 'create_card' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form new_card_form %}
                <input type="submit" class="btn btn-success link" value="Save">
            </form>
        </div>
    </div>
</div>
{{ form.media }}
{% endblock %}