<nav id="navigate"class="navbar navbar-expand-md ">
    <a href="{% url 'home' %}" id="home"class="navbar-brand">FlashCards</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <form class="form-inline ml-auto">
            <input type="text" class="form-control mr-sm-2" placeholder="Search">
            <button type="submit" class="btn btn-outline-light">Search</button>
        </form>
        <div class="navbar-nav">
            {% if user.is_authenticated%}
            <a href="/logout" class="nav-item nav-link active" id="logout">Logout</a>
            {% else %}
            <a href="{% url 'register' %}" class="nav-item nav-link">Register</a>
            <a href="{% url 'login' %}" class="nav-item nav-link">Login</a>
            {% endif %}
        </div>
        
    </div>
</nav> 


