@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Yatra+One&family=Zen+Tokyo+Zoo&display=swap');
.navbar {
  margin-bottom:5rem;
  background-color: rgb(22, 61, 83);
  color:white;
}
body {
  background-image: url('../images/jason-leung-Xaanw0s0pMk-unsplash\ \(2\).jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 22px;
  font-family: 'Yatra One', cursive;
  color: white;
}
.profile_picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  align-items: center;
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
}
.cards,.card-header,.card-footer,.card-body {
  padding: 2rem;
  margin: 0.3rem;
  background-color: #006579 !important;
  color: #FED401;
}
.forms {
  padding: 2rem;
  margin: 2rem;
  background-color: #006579 !important;
  color: #FED401;
}
.card {
  box-shadow:0 0 2px 2px #b40e9e;
  background-color: #006579;
  color: #FED401;
  padding: 2rem;
  margin: 2rem;
}
ul {
  list-style: none;
}
.card>li>a {
  color: #FED401;
}
.profile{
  color: #FED401;
  text-align: center;
  align-items: center;
  height: 20rem;
  background-color: rgb(6, 124, 148);
  padding-top: 5px;
  box-shadow:0 0 2px 2px #b40e9e;
}
.title {
  color: #FED401;
}
h2 {
  text-align: center;
  background-color: #006579;
  color: white;
  margin-top: 2rem;
}
h1 {
  background-color: #006579;
}
.name{
  font-size: 30px;
  font-weight: 900;
}

.number {
  font-size: 20px;
}

#home {
  color:white;
  font-weight: 900;
  font-size: 30px;
}
.nav-link{
  color: white !important;
}

#login {
  color: white;
}

#logout {
  color: white;
}
@media screen and (max-width:1082px) {
  .card {
    margin: 2rem 0 2rem 0 !important;
    padding: 0 !important;
  }
  
}
@media screen and (max-width:766px) {
  .form-inline>.form-control,.btn {
    margin-bottom: 1rem !important;
  }
  
}