@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Yatra+One&family=Zen+Tokyo+Zoo&display=swap');
#navigate {
  margin-bottom:5rem;
  background-color: rgb(22, 61, 83);
  color:white;
  padding-left: 10rem;
  padding-right: 20rem;
}
body {
  background-image: url('../images/jason-leung-Xaanw0s0pMk-unsplash\ \(2\).jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Yatra One', cursive;

}

.notes {
  background-color: rgba(255, 255, 255, 0.883);
  height:10rem;
  margin-bottom: 2rem;
  color: rgb(3, 33, 53) ;
  box-shadow:0 0 2px 2px #b40e9e;
}

.profile{
  color: white;
  text-align: center;
  height: 20rem;
  background-color: rgb(6, 124, 148);
  padding-top: 5px;
  box-shadow:0 0 2px 2px #b40e9e;
}

.name{
  font-size: 30px;
  font-weight: 900;
}

.number {
  font-size: 20px;
}

#home {
  color:white;
  font-weight: 900;
}
#reg{
  color: white;
}

#login {
  color: white;
}

#logout {
  color: white;
}